.my-form{
    margin-top: 20px;
    display:grid;
    float: inline-end;
    border: 5px;
    margin-left: 100px;
}
.my-form-group1{
    border: 2px;
    margin-right: 20px;
    margin-top: 50px;
}
.my-form-group2{
    border: 2px;
    margin-left: 100px;
    margin-top: 50px;
}
h1{
    text-align: center;
    
}
.header{
    margin: 40px;
}
.button{
    margin-top:40px;
    text-align: right;
    float: right;

}